* {
    padding: 0;
    margin: 0;
}

body {
    background: rgba(31, 20, 43, 1);
}

@font-face {
    font-family: "HeadingFont";
    src: url("images/font_plane.woff2") format('woff2');
}

@font-face {
    font-family: "bristolll";
    src: url("images/Bristol.woff2") format('woff2');
}

.BgCircleTop {
    width: 300px;
    height: 300px;
    /* rotate: z 50deg; */
    transform: translate(4em, 3.2em);
    border-radius: 50%;
    background: rgba(7, 159, 209, 0.379);
    position: absolute;
    /* z-index: 6; */
    animation: rotateAnim 12s infinite ease-in-out;
}

@keyframes rotateAnim {
    0% {
        /* opacity: 20%; */
        scale: .5;
    }

    50% {
        /* opacity: 100%; */
        scale: 1;
    }

    100% {
        /* opacity: 20%; */
        scale: 0.5;
    }
}

.BgCircleBottom {
    width: 180px;
    height: 40px;
    /* filter: blur(20px); */
    transform: translate(50vw, 93vh);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background: rgba(7, 159, 209, 0.434);
    position: absolute;
}

.major_bG {
    height: 100vh;
    width: 100vw;
    background: rgba(31, 20, 43, 1);
}

.BgCircle1 {
    width: 20px;
    height: 60px;
    /* rotate: z 50deg; */
    margin-top: 20em;
    /* transform: translate(-0.5em ,23em); */
    border-radius: 50%;
    background: rgba(7, 159, 209, 0.5);
    filter: blur(15px);
    position: absolute;
    /* z-index: 3; */
}

.topBarlist::before {
    content: "Clave";
    color: white;
    font-family: "bristolll";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70px;
    height: 30px;
    background: url(images/pencil-cup.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    position: absolute;
    left: 1em;
}

.topBarlist {
    width: auto;
    height: 39px;
    padding: 0.3em;
    background: rgba(31, 20, 43, 0.306);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid whitesmoke; */
    list-style: none;
}

.topBarButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(149, 146, 221, 0.161);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-family: "bristolll";
    color: white;
    font-weight: 10;
    cursor: pointer;
    margin: 0em 1.5em;
}

.topBarButtons:hover {
    background: #020d19;

}

.createButtons {
    width: 5em;
    background: rgba(149, 146, 221, 0.161);
    border-radius: 20px;
    padding: .3em .7em;
    display: none;
    justify-content: space-around;
}

.createButtons img {
    width: 25px;
    cursor: pointer;
}


.reload {
    height: 24px;
    transform: translate();
}

.reload img {
    width: 23px;
    cursor: pointer;
}

.sideBarDiv {
    /* border: 2px solid yellow; */
    width: 65px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background: rgba(31, 20, 43, 0.319);
    backdrop-filter: blur(240px);
}

.sideBarlist {
    list-style: none;
    background: rgba(31, 20, 43, 0.292);
    backdrop-filter: blur(240px);
    width: 78px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 2px solid whitesmoke; */
}

.sideBarlist:first-child {
    transform: translate(0, 5em);
}

.iconsSideBar {
    margin: 1em 0em;
    padding-right: 1em;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconsSideBar img {
    width: 25px;
}

.iconsSideBar:hover {
    background: rgb(18, 18, 34);
    cursor: pointer;
}

#profile {
    display: flex;
    margin-left: 0.6em;
    margin-top: 17em;
    padding-right: 1em;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#profile:hover {
    background: rgb(18, 18, 34);
    cursor: pointer;
}

#profile img {
    width: 25px;
}

.main_container {
    width: 95vw;
    height: 92vh;
    background: #020d1977;
    backdrop-filter: blur(50px);
    position: absolute;
    right: 5px;
    bottom: 5px;
    /* border: 2px solid red; */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* for LoginPage */
    /* align-items: center; */
    overflow-y: auto;
    scrollbar-width: none;
}

.Notes {
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    border-radius: 20px;
    width: 80em;
    min-height: 12em;
    padding: 0.1em 1em;
    margin-top: 1em;
    overflow-x: auto;
    scrollbar-width: none;

}




.NotesTab {
    min-width: 21em;
    height: 10em;
    border: 1px solid rgba(255, 255, 255, 0.121);
    /* background: rgba(185, 89, 254, 0.108); */
    /* backdrop-filter: blur(50px); */
    border-radius: 26px;
    /* border: 2px solid red; */
    margin: 0em 1.3em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    box-shadow:
        0.6px 0.6px 2.2px rgba(0, 0, 0, 0.02),
        1.4px 1.4px 5.3px rgba(0, 0, 0, 0.028),
        2.6px 2.6px 10px rgba(0, 0, 0, 0.035),
        4.7px 4.7px 17.9px rgba(0, 0, 0, 0.042),
        8.8px 8.8px 33.4px rgba(0, 0, 0, 0.05),
        21px 21px 80px rgba(0, 0, 0, 0.07);

}





.topDivNT {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    /* border: 1px solid red; */
}

.NTiconsDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 5em;
    /* border: 1px solid red; */
}


.headingArea {
    font-family: "HeadingFont";
    white-space: nowrap;
    width: 14em;
    max-height: 1em;
    padding: 0.5em;
    color: rgb(246, 246, 246);
    font-size: large;
    background: rgba(5, 0, 11, 0);
    outline: none;
    border: none;
    /* border: 1px solid red; */
    border-radius: 6px;
    overflow: hidden;
}

.headingArea::placeholder {
    color: rgba(255, 255, 255, 0.193);
}

.saveIcon {
    background-image: url(images/save2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    opacity: 20%;
    cursor: pointer;
    /* border: 1px solid red; */
}

.saveIcon:hover {
    opacity: 100%;
}

.maximize {
    background-image: url('images/enlarge.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    display: flex;
    cursor: pointer;
    opacity: 20%;
    /* border: 1px solid red; */
}

.maximize:hover {
    opacity: 100%;
}

.minimize {
    background-image: url('images/minimize-30.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: none;
    cursor: pointer;
    opacity: 20%;
}

.minimize:hover {
    opacity: 100%;
}



.DeleteNote {
    background-image: url('images/delete.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    display: flex;
    cursor: pointer;
    opacity: 20%;
    /* border: 1px solid red; */

}

.DeleteNote:hover {
    opacity: 100%;
}




.NotePad {
    font-family: "HeadingFont";
    font-size: small;
    padding-left: 0.5em;
    width: 26em;
    height: 6em;
    color: white;
    background: rgba(5, 0, 11, 0);
    outline: none;
    border: none;
    /* border: 2px solid red; */
    overflow-y: auto;
    scrollbar-width: none;
}



.NotePad::placeholder {
    color: rgba(255, 255, 255, 0.193);
}


/* ToDo Tabs-------> */


.ToDoContainer {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 2em;
    justify-items: center;
    /* border: 2px solid white; */


    padding: 1.5em;
}

.todoTab {
    /* position:absolute; */
    display: flex;
    width: 310px;
    height: 400px;
    margin: 1em;
    border: 1px solid rgba(255, 255, 255, 0.121);
    /* background: #2a2b4353; */
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ToDoTop {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.todoHeading {
    display: flex;
    font-family: "HeadingFont";
    white-space: nowrap;
    margin-bottom: .5em;
    width: 12em;
    max-height: 1em;
    /* margin-left: 0.7em; */
    padding: 0.4em 0em;
    color: rgb(246, 246, 246);
    font-size: large;
    background: rgba(5, 0, 11, 0);
    outline: none;
    border: none;
    /* border: 1px solid red; */
    border-radius: 6px;
    overflow: hidden;
}

.todoHeading::aria-placeholder {
    color: rgba(248, 242, 242, 0.193);
}


.ToDoIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 20px;
    margin-left: 5px;
    /* border: 1px solid red; */
}

.ToDoIcons img {
    width: 10px;
    opacity: 30%;
    cursor: pointer;
}


.addIcon {
    transform: rotate(45deg);
}

.ToDoIcons img:hover {
    opacity: 100%;
}

.addListItemDiv:hover.addListItemDiv::before {
    visibility: visible;
}

.deleteTabDiv:hover.deleteTabDiv::after {
    visibility: visible;
}

.addListItemDiv::before {
    content: 'Add list item';
    font-size: xx-small;
    color: rgba(255, 255, 255, 0.262);
    font-family: 'HeadingFont';
    position: absolute;
    margin-top: -25px;
    visibility: hidden;
}

.deleteTabDiv::after {
    content: 'Delete This Tab';
    font-size: xx-small;
    color: rgba(255, 255, 255, 0.262);
    font-family: 'HeadingFont';
    position: absolute;
    margin-top: -25px;
    visibility: hidden;
}

.TodoList {
    /* border: 2px solid red; */
    width: 280px;
    height: 300px;
}

.TodoList ul {
    max-height: 350px;
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: .5em;
    overflow-y: scroll;
    scrollbar-width: none;
}

.TodoList ul li {
    margin: 0.5em 1em;
    height: auto;
    display: flex;
    align-items: start;
}

.TodoList ul li:hover .DeleteButt {
    visibility: visible;
}

.DeleteButt {
    /* border: 2px solid red; */
    display: flex;
    margin: 0px 5px;
    margin-left: -15px;
    cursor: pointer;
    visibility: hidden;
}

.DeleteButt img {
    width: 15px;
    opacity: 60%;
}

.DeleteButt img:hover {
    opacity: 100%;
}

.checkBox2 {
    display: flex;
    width: 15px;
    cursor: pointer;

}


.ToDoText {
    width: 22em;
    height: auto;
    margin-left: 0.5em;
    white-space: text-wrap;
    color: white;
    font-family: 'HeadingFont';
    font-size: x-small;
    border: none;
    border-radius: 3px;
    outline: none;
}


/* ------Login Page------- */

.LoginDiv {

    width: 95vw;
    height: 92vh;
    border-radius: 25px;
    background: rgb(5, 37, 58);
    display: none;
    /* display:none is for SPA */
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.loginTab {
    width: 23em;
    height: 80vh;
    margin-left: 5em;
    background: rgb(12, 51, 80);
    border-radius: 20px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}



.LoginImg img {
    /* border: 2px solid white; */
    width: 40em;
}

.loginCard {
    height: 30em;
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: left; */
    /* border: 2px solid red; */
    z-index: 1;
}

.LoginTagline {
    color: white;
    font-family: "HeadingFont";
    font-size: larger;
    margin-top: 3em;
    padding-left: 1em;
}

.emailID {
    margin: 1em 0em;

}

.emailID input {
    width: 20em;
    color: white;
    background: #85858832;
    backdrop-filter: blur(20px);
    padding: .9em;
    border: none;
    border-radius: 5px;
    outline: none;
}

.passwordDiv {
    margin-top: 1em;
}

.passwordDiv input {
    width: 20em;
    color: white;
    background: #c5c6dd3e;
    padding: .9em;
    border: none;
    border-radius: 5px;
    outline: none;
}

.Terms {
    color: white;
    font-size: small;
    font-family: 'HeadingFont';
    font-weight: lighter;
    margin-top: 2em;
    width: 22em;
}

.Terms a {
    text-decoration: none;
    color: rgb(186, 89, 254);
}

.submitdiv {
    width: 17.8em;
    height: 2.65em;
    display: flex;
    margin-top: 3em;
    /* border: 1px solid red; */
    border-radius: 5px;
    overflow: hidden;
}

.submitdiv button {
    padding: 1em 9.5em;

    border-radius: 5px;
    background: rgba(31, 20, 43, 0.337);
    backdrop-filter: blur(15px);
    color: white;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.015);
    overflow: hidden;
    position: absolute;
    cursor: pointer;


}

.movingball {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    transform: translate(30px, 50px);
    z-index: -1;
    display: none;
    filter: blur(15px);
}


/* Tag-line
Sticky notes got you stuck? Level up your brain with Clave: The fun & productive note-taking fiesta ! 
"HeadingFont"
*/














